# Directories
.vs/
bin/
bin-int/

# user files
*.user

# Visual Studio solution
*.sln

# clang/other c++ compiler cache files
*.gch

# GMake files
Makefile
AltEngine.make

# Other files that premake generates
obj/
